@import "../../styles/base/settings.scss";

.numberBlock {
  //display: inline-block;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  /* padding: 2rem; */
  width: 100%;
  height: 40%;

  @media screen and (max-width: 800px) {
    height: 30%;
  }
  @media screen and (max-width: 500px) {
    height: 20%;
  }
  border-radius: 15px;
  position: relative;
  /*  */

  &__number {
    color: $soft-red;
    font-size: 4rem;
    @media screen and (max-width: 800px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 540px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 500px) {
      font-size: 1.5rem;
    }

    cursor: default;
    width: 100%;

    display: block;
    position: relative;
    perspective-origin: 50% 50%;
    perspective: 300px;

    &::after {
      content: var(--unit);
      font-size: 1rem;
      letter-spacing: 2.5px;
      display: block;
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translate(-50%, 0);
      color: $grayish-blue;

      @media screen and (max-width: 800px) {
        font-size: 1.2rem;
      }
      @media screen and (max-width: 680px) {
        font-size: 0.9rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 0.7rem;
      }
      //width: 100%;
      //height: 1px;
      //margin-top: -1px;
    }
  }
}
